Package: burstcoin-wallet
Version: 2.2.5
Maintainer: "Harry Phillips" <harryjamesphillips@gmail.com>
Architecture: all
Description: The world's first HDD-mined cryptocurrency using an energy efficient and fair Proof-of-Capacity (PoC) consensus algorithm.
